<section class="spotlight">
  <h2>
    <span>Media Spotlight:</span>
    <% @sample_work = Work.spotlight %>
    <% if @sample_work.nil? %>
      <p> There's no works to spotlight</p>
    <% end %>
    <%= link_to "#{@sample_work.title}", work_path(@sample_work) %>
    <%= "By: #{@sample_work.creator}" %>
<!--    TODO: change after you've connected work to vote-->
    <p><%= "#{@sample_work.votes.count} Votes - #{@sample_work.description}" %></p>
  </h2>

</section>

<section>
  <%= render partial: 'category', locals: {category: "movie"} %>
  <%= render partial: 'category', locals: {category: "book"} %>
  <%= render partial: 'category', locals: {category: "album"} %>
</section>