<section class="spotlight">
  <h2>
    <span>Media Spotlight:</span>
    <% @sample_work = Work.spotlight %>
    <% if @sample_work.nil? %>
      <p> There's no works to spotlight</p>
    <% end %>
    <%= link_to "#{@sample_work.title}", work_path(@sample_work) %>
    <%= "By: #{@sample_work.creator}" %>
<!--    TODO: change after you've connected work to vote-->
    <p><%= "#{@sample_work.votes.count} Votes - #{@sample_work.description}" %></p>
  </h2>

</section>

<section>
  <section>
    <h2>Top Movies</h2>
    <% @top_ten_albums = Work.top_ten("movie")  %>
    <% if @top_ten_albums.empty? %>
      <p>There's no top ten for this category</p>
    <% end %>
    <ul>
      <% @top_ten_albums.each do |album| %>
        <li>
          <h4>
            <%= link_to album.title, work_path(album) %>
            <small><%= "By: #{album.creator}" %></small>
          </h4>
          <!--          TODO: replace once there's a connection-->
          <p><%= "#{album.votes.count} votes" %></p>
        </li>
      <% end %>
    </ul>

  </section>
  <section>
    <h2>Top Books</h2>
    <% @top_ten_books = Work.top_ten("book")  %>
    <ul>
      <% @top_ten_books.each do |book| %>
        <li>
          <h4>
            <%= link_to book.title, work_path(book) %>
            <small><%= "By: #{book.creator}" %></small>
          </h4>
          <!--          TODO: replace once there's a connection-->
          <p><%= "#{book.votes.count} votes" %></p>
        </li>
      <% end %>
    </ul>

  </section>
  <section>
    <h2>Top Albums</h2>
    <% @top_ten_albums = Work.top_ten("album")  %>
    <ul>
      <% @top_ten_albums.each do |album| %>
        <li>
          <h4>
            <%= link_to album.title, work_path(album) %>
            <small><%= "By: #{album.creator}" %></small>
          </h4>
<!--          TODO: replace once there's a connection-->
          <p><%= "#{album.votes.count} votes" %></p>
        </li>
      <% end %>
    </ul>

  </section>
</section>