<% if @work.errors.any? %>
  <p> A problem occurred: Could not <%= "#{action_name} #{@work.category}" %></p>
  <ul>
    <% @work.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>


<%= form_with model: @work do |f| %>
  <section>
    <div>
      <%= f.label :category %>
<!--      Might have to change this-->
      <%= f.select :category, %w[album book movie] %>
    </div>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :creator %>
      <%= f.text_field :creator %>
    </div>
    <div>
      <%= f.label :publication_year %>
      <%= f.text_field :publication_year%>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_area :description%>
    </div>
    <div>
      <%= f.submit "#{action_name.capitalize} Work", class: "btn btn-primary" %>
    </div>
  </section>
<% end %>