
<h4><%= category %>s</h4>
<table>
  <thead>
  <tr>
    <th>Votes</th>
    <th>Title</th>
    <th>Created By</th>
    <th>Published</th>
    <th>Upvote</th>
  </tr>
  </thead>

  <tbody>
  <% works.each do |work| %>
    <tr>
      <td><%= work.votes.count %></td>
      <td><%= link_to work.title, work_path(work) %></td>
      <td><%= work.creator %></td>
      <td><%= work.publication_year %></td>
      <td><button class="btn btn-primary"><%= link_to "Upvote", upvote_work_path(work), method: :post %></button></td>
    </tr>
  <% end %>
  </tbody>
</table>