<h2>List of Works</h2>
<!--<ul>-->
  <%# @works.each do |work| %>
<!--    <li>-->
      <%#= link_to work.title, work_path(work) %>
      <%#= work.category %>
<!--    </li>-->
  <%# end %>
<!--</ul>-->

<h4> Albums </h4>
<table>
  <thead>
  <tr>
    <th>Votes</th>
    <th>Title</th>
    <th>Created By</th>
    <th>Published</th>
    <th>Upvote</th>
  </tr>
  </thead>

  <tbody>
  <% @album_works.each do |work| %>
    <tr>
      <td><%= work.votes.count %></td>
      <td><%= link_to work.title, work_path(work) %></td>
      <td><%= work.creator %></td>
      <td><%= work.publication_year %></td>
      <td><button><%= link_to "Upvote", upvote_work_path(work), method: :post %></button></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h4> Books </h4>
<table>
  <thead>
  <tr>
    <th>Votes</th>
    <th>Title</th>
    <th>Created By</th>
    <th>Published</th>
    <th>Upvote</th>
  </tr>
  </thead>

  <tbody>
  <% @book_works.each do |work| %>
    <tr>
      <td><%= work.votes.count %></td>
      <td><%= link_to work.title, work_path(work) %></td>
      <td><%= work.creator %></td>
      <td><%= work.publication_year %></td>
      <td><button><%= link_to "Upvote", upvote_work_path(work), method: :post %></button></td>
    </tr>
  <% end %>
  </tbody>
</table>

<!--TODO: Add the table for Movies-->

<!--how to order works by categories?-->
<!--Can I make a view partial form to DRY up code -->