<h2>List of Works</h2>

<%= render partial: "table", locals: { works: @album_works , category: "album"} %>
<%= render partial: "table", locals: { works: @book_works, category: "book" } %>
<%= render partial: "table", locals: { works: @movie_works, category: "movie"  } %>

<%= link_to "View top media", root_path, class: "btn btn-secondary" %>
<%= link_to "Add a new work", new_work_path, class: "btn btn-primary" %>
