<section>
  <h2><%= @work.title %></h2>
  <p>Created By: <%= @work.creator %></p>
  <p>Published: <%= @work.publication_year %></p>
  <p></p>

  <section>
    <%= link_to "Back to media ranks" %>
    <%= link_to "Edit", edit_work_path %>
    <%= link_to "Upvote" %>
    <%= link_to "Delete" %>


  </section>
</section>

