<section>
  <h2><%= @work.title %></h2>
  <p>Created By: <%= @work.creator %></p>
  <p>Published: <%= @work.publication_year %></p>
  <p></p>

  <section>
    <button class="btn btn-primary"> <%= link_to "Back to media ranks", root_path %></button>
    <button class="btn btn-primary"><%= link_to "Edit", edit_work_path %></button>
    <button class="btn btn-primary"><%= link_to "Upvote", upvote_work_path(@work), method: :post %></button>
    <button class="btn btn-danger"><%= link_to "Delete", work_path(@work), method: :delete, data: {confirm: "Are you sure?~~"} %></button>

  </section>
</section>

<section>
  <h3><%= "#{@work.votes.count} Votes for this #{@work.category.capitalize}" %></h3>
  <table>
    <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
    </tr>
    </thead>

    <tbody>
    <% @work.users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user_path(user) %></td>
        <td><%= @work.date_voted_on %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>

