<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>
<!--        TODO: change to root_path-->
        <%= link_to "Media Ranker", root_path %>
        <small>Ranking the Best of Everything</small>
      </h1>
      <nav>
        <ul>
          <li>
            <%= link_to "View top media", root_path %>
          </li>
          <li>
            <%= link_to "View all media", works_path %>
          </li>
          <li>
            <%= link_to "Add a new work", new_work_path %>
          </li>
          <li>
            <%= link_to "View all users", users_path %>
          </li>
        </ul>

        <ul>
<!--          if there is a session id, present a log out buttong and button to take them to the user show page-->
          <% if session[:user_id] %>
<!--            <li>-->
              <%#= link_to "Logged in as #{@user}", user_path(@user.id) %>
<!--            </li>-->
            <li>
              <%= link_to "Log Out", logout_path, method: :post %>
            </li>
          <% else %>
            <li>
              <%= link_to "Log In", login_path %>
            </li>
          <% end %>
        </ul>
      </nav>

    </header>

    <section>
<!--      remember to update the class name-->
      <div class="">
        <% flash.each do |name, message| %>
          <%= message %>
        <% end %>
      </div>
    </section>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
